@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

.game-title {
  text-align: center;
  font-size: 5.5rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
}

.game-cell {
  border: 2px solid black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}